@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #2e3192;
$background: #f2f2f2;
$border: #2e3192;

$max_width: 1000px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		padding: 50px 0 20px 0;
		.mega-menu-wrap {
			ul.mega-menu {
				li {
					&.mega-menu-item-12 {
						width: 120px !important;
						margin-top: -110px !important;
						a {
							width: 120px !important;
							height: 120px !important;
							background: {
								image: url(logo.svg) !important;
								position: center !important;
								repeat: no-repeat !important;
							}
							color: transparent !important;
							position: absolute !important;
							z-index: 10;
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		font-size: 30px;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b11 {
		h3 {
			margin: 0;
			padding: 10px 0;
			background: {
				image: url(block_1_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 14px;
			color: #fff;
		}
		#a {
			img {
				width: 100%;
			}
		}
		#b {
			color: #fff;
			h4 {
				width: fit-content;
				margin: auto;
				margin-bottom: 60px;
				padding: 5px 10px;
				border: 1px solid #fff;
				font: {
					size: 20px;
					weight: bold;
				}
				line-height: 22px;
			}
			p {
				margin: 0;
			}
			a {
				&.button {
					margin: 0;
					padding: 5px 10px;
					background-color: transparent;
					border: 1px solid #fff;
					border-radius: 0;
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			margin: 0;
			padding: 10px 0;
			background: {
				image: url(block_1_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 14px;
			color: #fff;
		}
		#box {
			background: {
				color: $background;
				image: url(block_2_box_bg.png);
				position: left;
				repeat: no-repeat;
				size: auto 100%;
			}
			.wpcf7 {
				margin: 20px;
				padding: 20px;
				background-color: #fff;
				[type=text],
				[type=email] {
					margin: 0;
					border: 0;
					border-bottom: 1px solid $border;
					border-radius: 0;
					box-shadow: none;
					&::placeholder {
						color: $secondary_color;
					}
				}
				textarea {
					margin: 0;
					border: 1px solid $border;
					border-radius: 0;
					box-shadow: none;
					&::placeholder {
						color: $secondary_color;
					}
				}
				.button {
					margin: 0;
					background-color: $secondary_color;
					border-radius: 0;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: #000;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to2 {
			padding: 0;
			.mega-menu-wrap {
				ul.mega-menu {
					li {
						&.mega-menu-item-12 {
							display: none !important;
						}
					}
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}